[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.142.2"
supabase = "==2.32.0"

[dev-packages]
workers-py = "*"

[requires]
python_version = "3.12"
