@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  /*Paleta de colores*/
  --azul: #025af5;  
  --blanco: #ffffff;
  --siempreblanco: #ffffff;
  --gris: #f1f7fd;
  --gris2: #e8e9e9;
  --grisoscuro: #8a95aa;
  --amarillopastel:#fff1cc;
  --verdepastel:#d8f5dc;
  --rojopastel:#fddedd;
  --negro: #000000;
  --amarillo:#fe9f17;
  --verde:#14c973;
  --rojo:#f5333e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 2vh;
  font-family: "Montserrat", sans-serif;
  color: var(--negro);
  line-height: 1;
  font-weight: 600;
border:none;
outline:none;

}
.dark {
  /*Paleta de colores modo oscuro*/
  --azul: #025af5;
  --blanco: #121c2e;
  --gris: #090e15;
  --amarillopastel: #fff1cc;
  --verdepastel: #d8f5dc;
  --rojopastel: #fddedd;
  --negro: #ffffff;
  --amarillo: #fe9f17;
  --verde: #14c973;
  --rojo: #f5333e;
}

main{
  position:absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: grid;
  grid-template: 
  "SEC SEC SEC" 1fr
  "FOO FOO FOO" auto/
  auto auto auto
  ;
}

header.h2{
  width: 100%;
  height: 8vh;
  grid-area:HEA;
  display:flex;
  flex-direction: row;
  justify-content:  space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;


}
header{
  width: 100%;
  height: 8vh;
  grid-area:HEA;
  background-color: var(--azul);
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2vh; 
  padding-bottom: 2vh; 


}
header.login{
  padding: 0;
  height: 20vh;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}
header.login p{
  font-size: 1.4vh;
  color: var(--siempreblanco);
}
section.login{
  padding-top: 5vh;
  border-radius: 2vh 2vh 0vh 0vh;
}
section.centro{
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main.login{
   grid-template: 
   "HEA HEA HEA" auto
  "SEC SEC SEC" 1fr
  "FOO FOO FOO" auto/
  auto auto auto
  ;
  background-color: var(--azul);
}
header img.icono{
width: 6vh;
height: 6vh;
border-radius: 5vh;
background-color: var(--blanco);
}
header img.logo{
  width: 90%;
max-width: 30vh;
height: 10vh;
background-color: var(--blanco);
}
header h1{
  color: var(--siempreblanco);
}
header.h2 h1{
  color: var(--blanco);
}
header .icon{
  margin-bottom: 0.7vh;
}
footer{
   display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
    font-size: 0vh;

  padding-right: 10%;
  min-height:7vh;
  grid-area:FOO;
  background-color: var(--blanco);
}

section{
 grid-area:SEC;
  background-color: var(--gris);
  display:flex;
  flex-direction: column;
  justify-content: top;
  gap: 2vh;
  position:relative;
  overflow-y: auto;

  
}
.listabloques{
  padding-bottom: 10vh;
}


h1{
  font-size: 2vh;
  font-weight: 700;
}
h2{
  font-size: 2.5vh;
  font-weight: 800;

}
h3{
  font-size: 2.2vh;
  font-weight: 600;

}
h4{
  font-size: 2.2vh;
  font-weight: 600;

}
label{
    font-size:2vh;
  font-weight: 500;
}
p{
  color: var(--grisoscuro);
  font-size:1.7vh;
  font-weight: 500;

}
span{
  font-size:1.5vh;
  font-weight: 500;

}
.bloque{
  width: 100%;
  max-width: 50vh;
  display:flex;
  flex-direction: column;
  gap: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  margin-bottom: 2vh;

}
.bloque3{
  width: 100%;
  max-width: 50vh;
  display:flex;
  flex-direction: column;
  padding-left: 2vh;
  padding-right: 2vh;
  margin-bottom: 2vh;

}
.bloque2{
  width: 100%;
  max-width: 50vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  margin-bottom: 2vh;

}
.listay{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
  width: 100%;
position:relative;
  flex-wrap: wrap;
}
.listay2{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5vh;
  width: 100%;
position:relative;
  flex-wrap: wrap;
}
details.azul{
  display:flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
  width: 100%;
position:relative;
  flex-wrap: wrap;
  position: relative;
}
details.azul summary{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  background-color: var(--azul);
  color: var(--siempreblanco);
  max-width: 50vh;
  border-radius: 3vh;
  font-weight: 500;
  margin-bottom: 2vh;
  font-size: 1.6vh;
}
details.azul input.blanco,details.azul select.blanco {
  margin: 0;
}

.listabloques{
   display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
  width: 100%;
position:relative;
  flex-wrap: wrap;
}
.listax{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
position:relative;
  flex-wrap: wrap;
}
.listax span.nombre{
  font-weight: 600;
   display:flex;
  justify-content: center;
  align-items: center;
width: 5vh;
}
.listax span.dia{
  font-size: 1.8vh;
   display:flex;
  justify-content: center;
  align-items: center;
width: 5vh;
border-radius: 5vh;
height: 5vh;
background-color: var(--blanco);
}
.listax span.dia.hoy{
   color:var(--siempreblanco);
  background-color: var(--azul);
}

.listax span.nombre.hoy{
   color:var(--azul);
}
.rectangulo{
  position: relative;

  width: 100%;
  max-width: 50vh;
  height: 8vh;
  background-color: var(--blanco);
  border-radius: 1.5vh;
  display:flex;
  flex-direction: row;
  gap: 2vh;
  justify-content: space-between;
  align-items: center;
  padding-left: 2vh;
  padding-right: 2vh;

}
.rectangulo span{
 color: var(--grisoscuro);
 font-size: 0vh;
}
.divisorx{
  display:flex;
  gap: 1.5vh;
    justify-content: center;
  align-items: center;
}
.divisorx2{
  display:flex;
  gap: 0.2vh;
  align-items: center;
}
.divisorx3{
  display:flex;
  gap: 0.5vh;
  align-items: center;
}
.horario{
  display:flex;
  gap: 1.5vh;
  justify-content: start;
  align-items: center;
  width: 7vh;

  
}
.borderojo{
  border-left: var(--rojo) 0.5vh solid;
  padding-left: 1.5vh;
}
.divisory{
  display:flex;
  gap: 0.5vh;
  flex-direction: column;
    justify-content: center;
  align-items: center;
}
.cuadrado{
  width: 5vh;
  height: 5vh;
  border-radius: 1.8vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.cuadrado2{
  width:10vh;
  height: 10vh;
  border-radius: 3.2vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.iconoestado0{
  background-color: var(--amarillopastel);
}
.iconoestado1{
  background-color: var(--verdepastel);
}
.iconoestado2{
  background-color: var(--rojopastel);
}
.iconoestado3{
  background-color: var(--rojopastel);
}
.iconoestado4{
  background-color: var(--gris2);
}
.barra{
  width: 0.2vh;
  height: 5vh;
  background-color: var(--grisoscuro);
  border-radius: 1vh;
}
.cuadrado img{
  width: 2vh;
  height: 2vh;
  background-color: var(--verde);

}
.divisory img{
  width: 2vh;
  height: 2vh;
  border-radius: 2vh;

}
a{
  text-decoration: none;
}
button.azul{
  width: 100%;
  height: 5vh;
  background-color: var(--azul);
  color: var(--siempreblanco);
  max-width: 50vh;
  border-radius: 3vh;
  font-weight: 500;
  margin-top: 2vh;
  font-size: 1.6vh;
}
input, select,.finput{
  display: flex;
  padding-left: 2vh;
  color: var(--negro);
}
input::placeholder, select::placeholder{
  color: var(--grisoscuro);

}
input.blanco{
  width: 100%;
  height: 5vh;
  background-color: var(--blanco);
  border:var(--negro) 0.2vh solid ;
  max-width: 50vh;
  border-radius: 3vh;
  font-weight: 500;
  margin-bottom: 2vh;
  font-size: 1.6vh;
}
.finput{
  align-items: center;
 width: 100%;
  height: 5vh;
  background-color: var(--blanco);
  border:var(--negro) 0.2vh solid ;
  max-width: 50vh;
  border-radius: 3vh;
  font-weight: 500;
  font-size: 1.6vh;
}
select.blanco{
  width: 100%;
  height: 5vh;
  background-color: var(--blanco);
  border:var(--negro) 0.2vh solid ;
  max-width: 50vh;
  border-radius: 3vh;
  font-weight: 500;
  margin-bottom: 2vh;
  font-size: 1.6vh;
}
.inputfecha{
  margin-top: 1.2vh;
  width: 100%;
  height: 5vh;
  display:flex;
  gap: 1.5vh;
    justify-content: center;
  align-items: center;
}
.inputfecha2{
  width: 100%;
  height: 5vh;
  display:flex;
  gap: 1.5vh;
    justify-content: center;
  align-items: center;
}
.iconoperfil{
  overflow: hidden;
  display:flex;
  justify-content: baseline;
  align-items: end;
}
.inputfecha p{
  margin-bottom: 2vh;
  font-size: 2vh;

}
.inputfecha select{
  width: 100%;
  height: 5vh;
  background-color: var(--blanco);
  border:var(--negro) 0.2vh solid ;
  max-width: 50vh;
  border-radius: 3vh;
  font-weight: 500;
  color: var(--negro);
  margin-bottom: 2vh;
  font-size: 1.6vh;
}
a.azul{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  background-color: var(--azul);
  color: var(--siempreblanco);
  max-width: 50vh;
  border-radius: 3vh;
  font-weight: 500;
  margin-top: 2vh;
  font-size: 1.6vh;
}
a.azul2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  background-color: var(--azul);
  color: var(--siempreblanco);
  max-width: 50vh;
  border-radius: 3vh;
  font-weight: 500;
  font-size: 1.6vh;
}
a.circuloazul{
  display: flex;
  justify-content: center;
  align-items: center;
  width:4vh;
  height: 4vh;
  background-color: var(--azul);
  color: var(--siempreblanco);
  max-width: 50vh;
  border-radius: 3vh;
  font-weight: 500;
  font-size: 1.6vh;
}
a.circuloazul2{
  display: flex;
  justify-content: center;
  align-items: center;
  width:5vh;
  height: 5vh;
  background-color: var(--azul);
  color: var(--siempreblanco);
  max-width: 50vh;
  border-radius: 3vh;
  font-weight: 500;
  font-size: 1.6vh;
}
a.circuloazul2 img.icon{
  margin-bottom: 0.2vh;
}
a.rojo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  background-color: var(--rojo);
  color: var(--siempreblanco);
  max-width: 50vh;
  border-radius: 3vh;
  font-weight: 500;
  margin-top: 2vh;
  font-size: 1.6vh;
}
a.blanco{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  background-color: var(--blanco);
  border:var(--azul) 0.2vh solid ;
  color: var(--negro);
  max-width: 50vh;
  border-radius: 3vh;
  font-weight: 500;
  margin-top: 2vh;
  font-size: 1.6vh;
}
button.blanco{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  background-color: var(--blanco);
  border:var(--azul) 0.2vh solid ;
   color: var(--negro);
  max-width: 50vh;
  border-radius: 3vh;
  font-weight: 500;
  margin-top: 2vh;
  font-size: 1.6vh;
}

button:hover,a:hover{
  cursor: pointer;
}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
a.icono{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  font-size: 0vh;
  background-color: transparent;
}
a.escanear{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vh;
  height: 5vh;
  background-color: var(--azul);
  border-radius: 4vh;
}
.texto{
  height: 4vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}


.texto2{

  height: 4vh;
  display:flex;
  gap: 0.5vh;
  flex-direction: column;
  justify-content: space-between;
}

.texto2 h4,.texto h4 {
  max-width: 20vh;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 2vh;
  text-overflow: ellipsis;
}
.pantalla-escanear {
  width: 100vw;
  height: 100vh;

  position: relative;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #000;
}

/* Cámara ocupa toda la pantalla */

.lector-qr {
  position: absolute;

  inset: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

/* El video de la cámara */

.lector-qr video {
  width: 100% ;
  height: 100% ;
  object-fit: cover;
}

/* Botón volver */

.volver {
  position: absolute;

  top: 3vh;
  left: 3vw;

  z-index: 10;

  width: 5vh;
  height: 5vh;

  border: none;
  border-radius: 50%;

  background: #ffffffcc;

  font-size: 3vh;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

/* Texto */

.texto-escanear {
  position: absolute;

  top: 10vh;

  z-index: 10;

  text-align: center;

  color: white;

  pointer-events: none;
}

.texto-escanear h2 {
  margin: 0;
  font-size: 3vh;
}

.texto-escanear p {
  margin-top: 1vh;
  font-size: 2vh;
}

/* Código encontrado */

.codigo {
  position: absolute;

  bottom: 5vh;

  z-index: 10;

  padding: 1.5vh 3vh;

  border-radius: 15px;

  background: white;

  text-align: center;
}

.codigo p {
  margin: 0;
}

.codigo strong {
  font-size: 3vh;
}